* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97vw;
  /* height: 100vh; */
  margin: 0 auto;
  overflow: auto;
}

.streetView {
  width: 100%;
  height: 95vh;
}

.sizeL {
  position: relative;
  visibility: inherit;
  text-align: center;
  margin: 15px auto 0;
  width: 100%;
  flex: 1;
}
