* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.sizeL {
  position: relative;
  visibility: inherit;
  text-align: center;
  margin: 0;
  flex: 1;
}
